#characterselect-screen{
  background-image: url("../image/select.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}


#character-box {
  display: inline-flex;
  zoom: 0.5;
  transform: scale(-1,1);
}

#cpu-character-box {
  margin: 0% 0% 0% 58.8%;
  flex-direction: row-reverse;
  text-align: end;
  background: #fff;
  border-top:1px solid #ddd;
  border-right:3px solid #3cf;
  border-bottom:1px solid #ddd;
  border-left:3px solid #3cf;
  padding: 5px 0 5px 10px;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ",Helvetica,Sans-Serif;

  background: -moz-linear-gradient(top, #fff 0%, #eee 50%, #ddd 51%, #fff 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(50%,#eee), color-stop(51%,#ddd), color-stop(100%,#fff)); /* webkit */
  -pie-background:linear-gradient(top, #fff 0%, #eee 50%, #ddd 51%, #fff 100%);
}

#select-result {
}

#my-select{
  display: inline-flex;
  transform: scale(-1,1);
  height: 240px;
  zoom:0.8;
}

#vs {
  text-align: center;
  zoom:0.9;
}

#your-select {
  display: flex; 
  flex-direction: row-reverse;
  height: 240px;
  zoom:0.8;
}

#cpu {
  display: flex; 
  flex-direction: row-reverse;
  zoom: 0.5;
  
}

#choice-hands { 
  display: flex
}

#my-choice {
  align-items: center;
  flex-grow: 1; 
  display: inline-flex;
  flex-wrap: nowrap;
  width: 140px;
  height: 145px;
  border: none;
  overflow: hidden;
  zoom: 0.5;
}


#your-choice {
  transform: scale(-1,1);
  align-items: center;
  display: flex;
  height: 145px;
  border: none;
  overflow: hidden;
  zoom: 0.5;
}


#count-round {
  text-align: center;
  height: 60px;

}


#whose-hands {
  display: flex;
  height: 300px;
}

#my {
 flex-grow: 1;
 flex-wrap: nowrap;
 align-self: flex-end;
 zoom: 1.6;
}

#you {
  transform: scale(-1,1);
  flex-direction: row-reverse;
  align-self: flex-end;
  zoom: 1.6;
}




#result {
  text-align: center;
}

#game-screen{
  background-image: url("../image/stages/ryu_stage2.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%; 
  background-position:  0% 60%;

}

body {
  margin:  2em auto;
  padding: 1em;
  width: 90%;
  color:#555555;
  box-shadow: 0 0 5px 5px hsl(188,49%, 82%), 0 0 5px 3px #bce2e8 inset;
  border-radius: 10px;
}
h1 {
  text-align: center;
}
#my-life {
  transform: scale(-1,1);
  flex-grow: 1;
  display: inline-block;
  -webkit-appearance: none;
  height: 38px;
  vertical-align: -0.2em;
}

#my-life::-webkit-progress-bar {
    background: tomato;
    border-radius: 10% 0% 0% 10%;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px white, 0 0 5px 3px whitesmoke inset;
}

#my-life::-webkit-progress-value {
  background-color: yellow;
  border-radius: 10% 0% 0% 10%;
  border-radius: 10px;
}

#your-life {
  width: 47.032%;
  float: right;
  display: inline-block;
  -webkit-appearance: none;
  height: 38px;
  vertical-align: -0.2em;

}

#your-life::-webkit-progress-bar {
    background: tomato;
    border-radius: 10% 0% 0% 10%;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px white, 0 0 5px 3px whitesmoke inset;
}

#your-life::-webkit-progress-value {
  background-color: yellow;
  border-radius: 10% 0% 0% 10%;
  border-radius: 10px;
}

#life {
  display: flex;
}

#final-result {
  text-align: center;
  height: 30px;
}

h2 {
  text-align: center;
}

h1 {
  background-color: black;
}

#start-title {
  text-align: center;
}



#h2 {

  display :none; 
}

#game-screen {

  display :none; 
}

#characterselect-screen {
  display :none; 
}

#next-button {

  display: none;
}


#win-mark {
  height: 60px;
  display: flex;
}

#my-mark {
  flex-grow: 1;
  flex-wrap: nowrap;
  
}


#your-mark {
  display: flex; 
  flex-direction: row-reverse;

}

#block { 
  width: 40%;
  margin: 30% 0 0 31%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.0;
  text-align: center;
}

#block img{
  width: 100%;
  
  
}

#caution{ 
  display:none; 
  position: absolute;
  left: 40.5%;
  bottom: 57%;
  background: #fff;
  border-top:1px solid #ddd;
  border-right:3px solid #3cf;
  border-bottom:1px solid #ddd;
  border-left:3px solid #3cf;
  padding: 5px 0 5px 10px;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ",Helvetica,Sans-Serif;

  background: -moz-linear-gradient(top, #fff 0%, #eee 50%, #ddd 51%, #fff 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(50%,#eee), color-stop(51%,#ddd), color-stop(100%,#fff)); /* webkit */
  -pie-background:linear-gradient(top, #fff 0%, #eee 50%, #ddd 51%, #fff 100%);
  
}

h3{
  width: 40%;
  background: #fff;
  border-top:1px solid #ddd;
  border-right:3px solid #3cf;
  border-bottom:1px solid #ddd;
  border-left:3px solid #3cf;
  padding: 5px 0 5px 10px;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ",Helvetica,Sans-Serif;

  background: -moz-linear-gradient(top, #fff 0%, #eee 50%, #ddd 51%, #fff 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(50%,#eee), color-stop(51%,#ddd), color-stop(100%,#fff)); /* webkit */
  -pie-background:linear-gradient(top, #fff 0%, #eee 50%, #ddd 51%, #fff 100%);
}



